<?xml version="1.0"?>
<config>
    <modules>
        <LCB_SocialLogin>
            <version>1.0.3</version>
        </LCB_SocialLogin>
    </modules>
    <global>
        <resources>
            <lcb_sociallogin_setup>
                <setup>
                    <module>LCB_SocialLogin</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </lcb_sociallogin_setup>
        </resources>
        <blocks>
            <lcb_sociallogin>
                <class>LCB_SocialLogin_Block</class>
            </lcb_sociallogin>
        </blocks>
        <helpers>
            <lcb_sociallogin>
                <class>LCB_SocialLogin_Helper</class>
            </lcb_sociallogin>
        </helpers>
        <models>
            <lcb_sociallogin>
                <class>LCB_SocialLogin_Model</class>
            </lcb_sociallogin>
        </models>
    </global>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>LCB_SocialLogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <lcb_sociallogin>
                    <file>lcb_sociallogin.xml</file>
                </lcb_sociallogin>
            </updates>
        </layout>
    </frontend>
</config>
