<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <LCB_SocialLogin>
         <version>1.0.0</version>
      </LCB_SocialLogin>
   </modules>
   <global>
      <blocks>
         <lcb_sociallogin>
            <class>LCB_SocialLogin_Block</class>
         </lcb_sociallogin>
      </blocks>
      <helpers>
         <lcb_sociallogin>
            <class>LCB_SocialLogin_Helper</class>
         </lcb_sociallogin>
      </helpers>
      <models>
         <lcb_sociallogin>
            <class>LCB_SocialLogin_Model</class>
         </lcb_sociallogin>
      </models>
      <resources>
         <lcb_sociallogin_setup>
            <setup>
               <module>LCB_SocialLogin</module>
               <class>Mage_Customer_Model_Entity_Setup</class>
            </setup>
         </lcb_sociallogin_setup>
      </resources>
      <events>
         <customer_save_before>
            <observers>
               <lcb_sl_before_customer>
                  <class>lcb_sociallogin/observer</class>
                  <method>beforeCustomerSave</method>
               </lcb_sl_before_customer>
            </observers>
         </customer_save_before>
         <adminhtml_customer_prepare_save>
            <observers>
               <lcb_sl_set_from_post>
                  <class>lcb_sociallogin/observer</class>
                  <method>setLoginProviderFromPost</method>
               </lcb_sl_set_from_post>
            </observers>
         </adminhtml_customer_prepare_save>
      </events>
   </global>
   <adminhtml>
      <events>
         <adminhtml_block_html_before>
            <observers>
               <lcb_sl_add_lp_column>
                  <class>lcb_sociallogin/observer</class>
                  <method>addLoginProviderToCustomerGrid</method>
               </lcb_sl_add_lp_column>
            </observers>
         </adminhtml_block_html_before>
      </events>
   </adminhtml>
   <frontend>
      <routers>
         <sociallogin>
            <use>standard</use>
            <args>
               <module>LCB_SocialLogin</module>
               <frontName>sociallogin</frontName>
            </args>
         </sociallogin>
      </routers>
      <layout>
         <updates>
            <lcb_sociallogin>
               <file>lcb_sociallogin.xml</file>
            </lcb_sociallogin>
         </updates>
      </layout>
   </frontend>
</config>